html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: #F9FAFB;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
}

.main--leaderboard {
  max-width: 60ch;
}

h1 {
  font-weight: bold;
}

a, a:visited {
  color: inherit;
  font-weight: bold;
}

.leaderboard {
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.header {
  font-size: 0.55rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #9CA3AF;
}

.header:not(:nth-child(2)) {
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E5E7EB;
}

[data-position="1"] {
  background-color: #FBBF24;
}

[data-position="2"] {
  background-color: #DBEAFE;
}

[data-position="3"] {
  background-color: #D97706;
}

.position {
  text-align: center;
  font-size: 2rem;
}

.name {
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.score {
  font-size: 1.4rem;
  font-variant-numeric: tabular-nums;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  color: #9CA3AF;
}

.footer a, .footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.message {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #9CA3AF;
}

.message > p + p {
  margin-top: 0.5rem;
}

.github-avatar {
  border-radius: 50%;
}

.pull-request {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 80px 1fr 100px 120px 40px 40px;
  align-items: center;
  gap: 1rem;
}

.pull-request + .pull-request {
  margin-top: 0.5rem;
}

h2 + .pull-request {
  margin-top: 1.5rem;
}
.pull-request + :not(.pull-request) {
  margin: 1.5rem 0;
}

.pull-request__jira {
  font-size: 0.8rem;
}

.pull-request__diff {
  font-size: 0.8rem;
}

.merge-conflict {
  font-size: 1.5rem;
  color: crimson;
  line-height: 0.5;
}
