html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFB;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --color-review: #93C5FD;
  --color-test: #FDE68A;
  --color-finished: #34D399;

  --content-width: 100ch;
}

main {
  width: 100%;
  max-width: var(--content-width);
  padding: 1rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.nav--invert {
  background-color: black;
  color: white;
}

nav > a {
  text-decoration: none;
  font-weight: normal;
}

nav > a.active {
  font-weight: bold;
}

.logo {
  font-size: 2rem;
}

.expander {
  flex-grow: 1;
}

.secondary {
  color: #9CA3AF;
}

input[type="submit"] {
  all: initial;
  cursor: pointer;
}

input[type="submit"]:hover {
  filter:hue-rotate(90deg);
  transform: scale(1.05);
  transition: 0.1s transform ease-out;
}

input[type="submit"]:active {
  filter:hue-rotate(120deg);
}

.main--leaderboard {
  max-width: 60ch;
}

h1 {
  font-weight: bold;
}

a, a:visited {
  color: inherit;
  font-weight: bold;
}

.leaderboard {
  display: grid;
  grid-template-columns: 60px 60px 1fr 60px 60px;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.header {
  font-size: 0.55rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #9CA3AF;
}

.header:not(:nth-child(3)) {
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E5E7EB;
}

[data-position="1"] {
  background-color: #FBBF24;
}

[data-position="2"] {
  background-color: #DBEAFE;
}

[data-position="3"] {
  background-color: #D97706;
}

.position {
  text-align: center;
  font-size: 2rem;
}

.name {
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.score {
  font-size: 1.4rem;
  font-variant-numeric: tabular-nums;
}

.section--avatar > img {
  width: 50px;
  height: 50px;
}

.footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;
  color: #9CA3AF;
}

.footer a, .footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.heart {
  display: inline-block;
  color: crimson;
  animation: heartbeat 3s ease-in-out 0s infinite;
}

.message {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #9CA3AF;
}

.message > p + p {
  margin-top: 0.5rem;
}

.pull-request-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 40px max-content 1fr max-content max-content repeat(3, 40px);
  align-items: center;
  gap: 1rem;
}

.pull-request-grid > .category-title {
  grid-column: 1 / -1;
  margin-top: 2rem;
}

.category-title {
  padding: 0.5rem;
  font-weight: bold;
}

.category-title[data-classification="review"] {
  background-color: var(--color-review);
}

.category-title[data-classification="test"] {
  background-color: var(--color-test);
}

.category-title[data-classification="finished"] {
  background-color: var(--color-finished);
}

.pull-request__jira {
  font-size: 0.8rem;
}

.pull-request__small {
  font-size: 0.7rem;
}

.merge-conflict {
  font-size: 1.5rem;
  color: crimson;
  line-height: 0.5;
}

.avatar__wrapper {
  position: relative;
}

.avatar__wrapper > img {
  border-radius: 50%;
}

.avatar__wrapper::after {
  content: attr(data-login);
  position: absolute;
  left: 50%;
  bottom: -2px;
  padding: 1px;
  background-color: black;
  color: white;
  font-size: 0.4rem;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.avatar__overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #EC4899;
  font-size: 2rem;
  text-shadow:
      0 0 4px #EC4899,
      0 0 8px #F472B6,
      0 0 12px #F9A8D4;
}

.member-hero {
  width: 100vw;
  background-color: teal;
  color: white;
  overflow: hidden;
}

.member-hero__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
  max-width: var(--content-width);
  margin: 0 auto;
}

.member-hero h1 {
  font-size: 6rem;
  line-height: 0.76;

  animation: 0.2s slideUp;
}

.member-hero .tagline {
  animation: 0.2s slideLeft ease-out;
}

.member-hero em {
  font-style: normal;
  display: inline-block;
  animation: 0.3s pulse ease-out 0.2s;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes slideLeft {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  5% { transform: scale(1.2); }
  10% { transform: scale(1); }
  15% { transform: scale(1.2); }
  20% { transform: scale(1); }
  100% { transform: scale(1); }
}
