html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: #F9FAFB;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --color-review: #93C5FD;
  --color-test: #FDE68A;
  --color-finished: #34D399;
}

main {
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
}

.main--leaderboard {
  max-width: 60ch;
}

h1 {
  font-weight: bold;
}

a, a:visited {
  color: inherit;
  font-weight: bold;
}

.leaderboard {
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.header {
  font-size: 0.55rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #9CA3AF;
}

.header:not(:nth-child(2)) {
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E5E7EB;
}

[data-position="1"] {
  background-color: #FBBF24;
}

[data-position="2"] {
  background-color: #DBEAFE;
}

[data-position="3"] {
  background-color: #D97706;
}

.position {
  text-align: center;
  font-size: 2rem;
}

.name {
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.score {
  font-size: 1.4rem;
  font-variant-numeric: tabular-nums;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  color: #9CA3AF;
}

.footer a, .footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.message {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #9CA3AF;
}

.message > p + p {
  margin-top: 0.5rem;
}

.pull-request-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 80px 1fr max-content max-content 40px 40px;
  align-items: center;
  gap: 1rem;
}

.pull-request-grid > .category-title {
  grid-column: span 7;
  margin-top: 2rem;
}

.category-title {
  padding: 0.5rem;
  font-weight: bold;
}

.category-title[data-classification="review"] {
  background-color: var(--color-review);
}

.category-title[data-classification="test"] {
  background-color: var(--color-test);
}

.category-title[data-classification="finished"] {
  background-color: var(--color-finished);
}

.pull-request__jira {
  font-size: 0.8rem;
}

.pull-request__small {
  font-size: 0.7rem;
}

.merge-conflict {
  font-size: 1.5rem;
  color: crimson;
  line-height: 0.5;
}

.avatar__wrapper {
  position: relative;
}

.avatar__wrapper > img {
  border-radius: 50%;
}

.avatar__wrapper::after {
  content: attr(data-login);
  position: absolute;
  left: 50%;
  bottom: -2px;
  padding: 1px;
  background-color: black;
  color: white;
  font-size: 0.4rem;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.avatar__overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}
