---
layout: 'layout'
title: PRs the Dingoes might care about
---
<main>
  <h2 class="category-title" data-classification="review">
    {{ title }}
  </h2>

  <div class="pull-request-grid">
    {% for pr in githubActiveDingoes %}
      <div class="avatar__wrapper" data-login="{{ pr.author.name | nickname }}">
        {% avatar pr.author %}
      </div>

      <div class="pull-request__jira">
        <a href="{{ site.jiraBaseUrl }}{{ pr.jira }}" target="_blank" rel="noopener noreferrer">
          {{ pr.jira }}
        </a>
      </div>

      <div>
        {% if pr.labels.includes('Merge conflict') %}
          <span class="merge-conflict" title="Merge conflict!">⚠️ </span>
        {% endif %}

        {% if pr.status === 'failure' %}
          <span class="merge-conflict" title="CI failure!">🚨 </span>
        {% endif %}

        {% if pr.labels.includes('Before Merge TODO') %}
          <span class="merge-conflict" title="This PR has a Before merge TODO">🔀 </span>
        {% endif %}

        <a href="{{ pr.url }}" target="_blank" rel="noopener noreferrer">{{ pr.title }}</a>
      </div>

      <div class="pull-request__small">
        <div class="emotion emotion--positive">
          {{ pr.state }}
        </div>
      </div>

      <div class="pull-request__small">{{ pr.lastLabelChange | timedist }}</div>

      {% if pr.assigned[0] %}
        <div class="avatar__wrapper" data-login="{{ pr.assigned[0].name | nickname }}">
          {% avatar pr.assigned[0] %}
          {% if category.showReviewStatus and pr.assigned[0].hasReviewed %}
            <div class="avatar__overlay">✔</div>
          {% endif %}
        </div>
      {% else %}
        <div></div>
      {% endif %}

      {% if pr.assigned[1] %}
        <div class="avatar__wrapper" data-login="{{ pr.assigned[1].name | nickname }}">
          {% avatar pr.assigned[1] %}
          {% if category.showReviewStatus and pr.assigned[1].hasReviewed %}
            <div class="avatar__overlay">✔</div>
          {% endif %}
        </div>
      {% else %}
        <div></div>
      {% endif %}

      {% if pr.assigned[2] %}
        <div class="avatar__wrapper" data-login="{{ pr.assigned[2].name | nickname }}">
          {% avatar pr.assigned[2] %}
          {% if category.showReviewStatus and pr.assigned[2].hasReviewed %}
            <div class="avatar__overlay">✔</div>
          {% endif %}
        </div>
      {% else %}
        <div></div>
      {% endif %}

      {% if pr.notes %}
        <div class="full-row-label">
          Notes
        </div>

        <div class="full-row-with-label">
          {{ pr.notes }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
