---
layout: 'leaderboard'
title: 'Sloth Review Leaderboard'
subtitle: '2021 Cycle 5'
startDate: '2021-9-27'
---
<div class="message">
  {# <p>Next cycle begins: {{ startDate }}</p> #}

  <p>
    View previous cycles:

    {% for cycle in history | reverse %}
      <a href="/{{ cycle.year }}/{{cycle.cycle}}">{{ cycle.year }} cycle {{ cycle.cycle }}</a>{{ ', ' if not loop.last }}
    {% endfor %}
  </p>
</div>
