---
layout: 'layout'
title: 'Weka Support Roster'
subtitle: '2022 Cycle 1'
permalink:
  serverless: '/support-roster'
---

<main>
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>

  <div class="roster-grid">
    <div class="header">week</div>
    <div class="header">dates</div>
    <div class="header"></div>
    <div class="header">main</div>
    <div class="header"></div>
    <div class="header">backup</div>

    {% for entry in roster %}
      <div class="section section--padded" {% if entry.current %}data-position="1"{% endif %}>
        {{ entry.title }}
      </div>

      <div class="section section--padded" {% if entry.current %}data-position="1"{% endif %}>
        {{ entry.dates.start | shortDate }} – {{ entry.dates.end | shortDate }}
      </div>

      <div class="section section--padded" {% if entry.current %}data-position="1"{% endif %}>
        <div class="avatar__wrapper" data-login="{{ entry.main | nickname }}">
          {% avatar entry.main %}
        </div>
      </div>

      <div class="section name" {% if entry.current %}data-position="1"{% endif %}>
        {{ entry.main | nickname }}
      </div>

      <div class="section section--padded" {% if entry.current %}data-position="1"{% endif %}>
        <div class="avatar__wrapper" data-login="{{ entry.backup | nickname }}">
          {% avatar entry.backup %}
        </div>
      </div>

      <div class="section name" {% if entry.current %}data-position="1"{% endif %}>
        {{ entry.backup | nickname }}
      </div>
    {% endfor %}
  </div>
</main>
