---js
{
layout: 'team',
pagination: {
  data: 'users',
  size: 1,
  alias: 'user',
  before: data => data.filter(u => u.current || u.alumni),
},
permalink: "team/{{ user.nickname | lower }}/",
}
---

<div class="member-hero">
  <div class="member-hero__content">
    <h1>{{ user.nickname }}</h1>
    <span class="tagline">{{ user.tagline | safe }}</span>
  </div>
</div>

<main>
  {% if user.bio %}
    <p>{{ user.bio }}</p>
  {% endif %}

  {% if user.emotions.positive %}
    <h2>Favourite postive emotions</h2>

    <ul class="emotion-list">
      {% for emotion in user.emotions.positive %}
        <li class="emotion emotion--positive">{{ emotion }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if user.emotions.negative %}
    <h2>Least favourite negative emotions</h2>

    <ul class="emotion-list">
      {% for emotion in user.emotions.negative %}
        <li class="emotion emotion--negative">{{ emotion }}</li>
      {% endfor %}
    </ul>
   {% endif %}
</main>
