---js
{
layout: 'team',
pagination: {
  data: 'users',
  size: 1,
  alias: 'user',
  before: data => data.filter(u => u.current),
},
permalink: "team/{{ user.nickname | lower }}/",
}
---

<div class="member-hero">
  <div class="member-hero__content">
    <h1>{{ user.nickname }}</h1>
    <span class="tagline">{{ user.tagline | safe }}</span>
  </div>
</div>

<main>
  <h2>Favourite postive emotions</h2>

  <ul class="emotion-list">
    {% for emotion in user.emotions.positive %}
      <li class="emotion emotion--positive">{{ emotion }}</li>
    {% endfor %}
  </ul>

  <h2>Least favourite negative emotions</h2>

  <ul class="emotion-list">
    {% for emotion in user.emotions.negative %}
      <li class="emotion emotion--negative">{{ emotion }}</li>
    {% endfor %}
  </ul>
</main>
