---
layout: 'layout'
title: 'Sloths'
---
<main>
  <h1>What's Slothin' Today?</h1>

  {% for category in githubActive %}
    {% if category.prs.length > 0 %}
      <h2>{{ category.title }}</h2>

      <div class="pull-request header">
        <div>author</div>
        <div>jira</div>
        <div>title</div>
        <div>diff</div>
        <div>age</div>
        <div>#1</div>
        <div>#2</div>
      </div>

      {% for pr in category.prs %}
        <div class="pull-request">
          {{ pr.author | avatar | safe }}
          <div class="pull-request__jira">
            <a href="{{ site.jiraBaseUrl }}{{ pr.jira }}" target="_blank" rel="noopener noreferrer">
              {{ pr.jira }}
            </a>
          </div>
          <div>
            {% if pr.labels.includes('Merge conflict') %}
              <span class="merge-conflict" title="Merge conflict!">⚠️ </span>
            {% endif %}
            <a href="{{ pr.url }}" target="_blank" rel="noopener noreferrer">{{ pr.title }}</a>
          </div>
          <div class="pull-request__size">{{ pr.size }}</div>
          <div>{{ pr.lastLabelChange | timedist }}</div>
          {{ pr.assigned[0] | avatar | safe }}
          {{ pr.assigned[1] | avatar | safe }}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% include '_footer.njk' %}
</main>
