---
layout: 'layout'
title: 'Sloths'
---
<main>
  <div class="footer">
    <h1>What's Slothin' Today?</h1>
    <form action="/.netlify/functions/refresh">
      <input type="submit" value="Refresh" />
    </form>
  </div>

  <div class="pull-request-grid">
    {# <div class="header">author</div>
    <div class="header">jira</div>
    <div class="header">title</div>
    <div class="header">diff</div>
    <div class="header">age</div>
    <div class="header">#1</div>
    <div class="header">#2</div> #}

    {% for category in githubActive %}
      {% if category.prs.length > 0 %}
        <h2 class="category-title" data-classification="{{ category.classification }}">{{ category.title }}</h2>

        {% for pr in category.prs %}
          <div class="avatar__wrapper" data-login="{{ pr.author.name | nickname }}">
            {% avatar pr.author %}
          </div>

          <div class="pull-request__jira">
            <a href="{{ site.jiraBaseUrl }}{{ pr.jira }}" target="_blank" rel="noopener noreferrer">
              {{ pr.jira }}
            </a>
          </div>

          <div>
            {% if pr.labels.includes('Merge conflict') %}
              <span class="merge-conflict" title="Merge conflict!">⚠️ </span>
            {% endif %}
            <a href="{{ pr.url }}" target="_blank" rel="noopener noreferrer">{{ pr.title }}</a>
          </div>

          <div class="pull-request__small">{{ pr.size }}</div>

          <div class="pull-request__small">{{ pr.lastLabelChange | timedist }}</div>

          {% if pr.assigned[0] %}
            <div class="avatar__wrapper" data-login="{{ pr.assigned[0].name | nickname }}">
              {% avatar pr.assigned[0] %}
              {% if category.showReviewStatus and pr.assigned[0].hasReviewed %}
                <div class="avatar__overlay">✔</div>
              {% endif %}
            </div>
          {% else %}
            <div></div>
          {% endif %}

          {% if pr.assigned[1] %}
            <div class="avatar__wrapper" data-login="{{ pr.assigned[1].name | nickname }}">
              {% avatar pr.assigned[1] %}
              {% if category.showReviewStatus and pr.assigned[1].hasReviewed %}
                <div class="avatar__overlay">✔</div>
              {% endif %}
            </div>
          {% else %}
            <div></div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  {% include '_footer.njk' %}
</main>
