---
links: [
  { title: 'Leaderboard', url: '/', exact: true },
  { title: 'Today', url: '/today/', exact: true },
  { title: 'Roster', url: '/support-roster/', exact: true },
  { title: 'The team', url: '/team/' },
  { title: 'Dingoes', url: '/dingoes/', exact: true },
  { title: 'Dingo WIP', url: '/dingo/', exact: true },
]
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav>
    <div class="logo">🐦</div>

    {% for link in links %}
      <a href="{{ link.url }}" class="{{ 'active' if link.exact and page.url === link.url }} {{ 'active' if not link.exact and page.url.startsWith(link.url) }}">
        {{ link.title }}
      </a>
    {% endfor %}

    <div class="expander"></div>

    <div class="secondary">Last updated {{ site.buildTime.toLocaleString('en-NZ', { timeZone: 'Pacific/Auckland' }) }} </div>

    <form action="/.netlify/functions/refresh">
      <input type="submit" value="🔄" />
    </form>
  </nav>

  {{ content | safe }}

  {% include '_footer.njk' %}
</body>
</html>
