---
layout: 'layout'
---
<nav class="nav nav--invert">
  {% for u in users %}
    {% if u.current %}
      <a href="/team/{{ u.nickname | lower }}" class="{{ 'active' if u.nickname.toLowerCase() in page.url }}">
        {{ u.nickname }}
      </a>
    {% endif %}
  {% endfor %}

  <div class="spacer"></div>

  <span class="secondary">Alumni</span>

  {% for u in users %}
    {% if u.alumni %}
      <a href="/team/{{ u.nickname | lower }}" class="{{ 'active' if u.nickname.toLowerCase() in page.url }}">
        {{ u.nickname }}
      </a>
    {% endif %}
  {% endfor %}
</nav>

{{ content | safe }}

<a href="http://localhost:3000/signup?educator_signup=1">Ignore this</a>
